RichTextBlock[class="RichTextBlock"] {
    background-color: RichTextBlockBackground;
    border: none;
    color: RichTextBlockForeground;
}
RichTextBlock[class="RichTextBlock"]:hover {
    background-color: RichTextBlockBackgroundPointerOver;
    color: RichTextBlockForegroundPointerOver;
}
RichTextBlock[class="RichTextBlock"]:disabled {
    background-color: RichTextBlockBackgroundDisabled;
    color: RichTextBlockForegroundDisabled;
}
